"*":
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "5eedbd12-43d9-b142-4906-35580fe70def"
  fonts:
    fontFamily: "Inconsolata-g"
  "vim-mode": {}
  welcome:
    showOnStartup: false
