[user]
  name = William Albright
  email = ping@ewilli.am

[github]
  user = ewilliam

[credential]
  helper = osxkeychain

[core]
  editor = nvim
  excludesfile = ~/.config/git/ignore
  autocrlf = false

[init]
  defaultBranch = main

[alias]
  a = add
  b = branch -v
  co = checkout
  nb = checkout -b
  d = diff
  dc = diff --cached
  l = log --graph --date=short
  s = status
  recent-branches = !git for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[color]
  ui = true

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[branch]
  autosetupmerge = true

[push]
  default = simple

[pull]
  rebase = true

[fetch]
  prune = true

[merge]
  conflictstyle = zdiff3

[diff]
  mnemonicprefix = true
  algorithm = patience
  colorMoved = default

[rerere]
  enabled = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  navigate = true
  dark = true
  line-numbers = true

[interactive]
  diffFilter = delta --color-only

[advice]
  statusHints = false
