"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "InconsolataForPowerlineNerdFontPlusFontAwesomePlusOcticonsPlusPomiconsPlusFontLinux---Medium"
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "91993114-0b3f-a3cc-f176-b572d54cccf5"
  welcome:
    showOnStartup: false
